---
import Layout from '../layouts/Layout.astro';
import takumi from '../images/takumi.jpg';
---

<Layout title='Contact Us'>
  <main>
    <div class='flex flex-col items-center my-8'>
      <img
        src={takumi.src}
        class='rounded-full w-28 h-28 justify-center mb-8'
      />
      <h1>Hi I'm Jonathan</h1>
      <div id='gradient'>
        <p class='text-center mb-6 text-2xl'>
          I created this website with a simple goal in mind - help big and small
          electricians be found by the people searching for them.
        </p>
        <p class='text-center mb-6 text-2xl'>
          You can find me on X (you can dm me) where I shared a bit on how this
          website came to be and more.
        </p>
        <p class='text-center text-2xl'>
          If you're a fellow builder I'd love to connect.
        </p>
      </div>
      <button
        class='md:w-1/2 w-full transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 bg-amber-600 rounded-xl font-bold py-2 duration-300 mb-6'
        ><a href='https://twitter.com/thefakejona'>Find me on X</a></button
      >
      <button
        class='md:w-1/2 w-full transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 bg-amber-600 rounded-xl font-bold py-2 duration-300 mb-6'
        ><a href='https://paypal.me/ghostofakina?country.x=US&locale.x=en_US'
          >Buy me a coffee</a
        ></button
      >
    </div>
  </main>
</Layout>

<style>
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 0.5em;
  }

  #gradient {
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 6px;
    margin-bottom: 2rem;
  }
</style>
