<div>
  <h2 class=''>
    Energize Your Inbox: Weekly Insights on What's Buzzing in the Valley!
  </h2>
  <p>
    Get the inside scoop on Phoenix's electrical scene with our weekly
    newsletter. Discover the best electricians in town, industry updates, and
    exclusive tips - perfect for homeowners and businesses alike. Sign up now
    and never be in the dark again!
  </p>
  <p>No spam, just high voltage news.</p>
</div>
