<nav
  class='justify-between p-6 mb-4 font-semibold m-auto'
  x-data='{ open:false }'
>
  <div class='flex'>
    <div class='flex-1'>
      <a href='/' class='text-xl'>Electricians in Phoenix ⚡️</a>
    </div>
    <button
      @click='open = !open'
      class='bg-amber-600 rounded flex lg:hidden items-center align-middle group p-1 justify-center'
    >
      <svg
        x-show='!open'
        xmlns='http://www.w3.org/2000/svg'
        class='h-6 w-6 bg-amber-600 rounded'
        fill='none'
        viewBox='0 0 24 24'
        stroke='currentColor'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M4 6h16M4 12h16M4 18h16'></path>
      </svg>
      <svg
        x-show='open'
        class='w-6 h-6'
        fill='none'
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='2'
        viewBox='0 0 24 24'
        stroke='currentColor'><path d='M6 18L18 6M6 6l12 12'></path></svg
      >
    </button>
    <div class='hidden lg:flex gap-x-12 text-md items-center'>
      <a href='/advertise' class='hover:underline'>Advertise</a>
      <a href='/contact' class='hover:underline'>Contact</a>
    </div>
  </div>
  <!-- Hide on small screens-->

  <div
    class='space-y-1 pr-2 pt-2 pb-3 items-center text-md'
    x-show='open'
    x-transition.duration.200ms
  >
    <a href='/advertise' class='block py-2'>Advertise</a>
    <a href='/contact' class='block py-2'>Contact</a>
  </div>
</nav>
