---
interface Props {
  title: string;
}

import Footer from '@components/Footer.astro';
import TopBar from '@components/TopBar.astro';
import '@src/site.css';

const { title = 'Electricians in Phoenix' } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/png' href='/high-voltage.svg' sizes='32x32' />
    <link rel='sitemap' href='/sitemap-index.xml' />

    <script
      defer
      src='https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js'
    ></script>
    <script src='https://unpkg.com/htmx.org@1.9.9'></script>
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class=''>
    <div class='max-w-5xl px-4 py-4 mx-auto text-white'>
      <TopBar />
      <slot />
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --accent: 92, 87, 255;
    --accent-light: 204, 233, 250;
    --accent-dark: 2, 8, 115;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  main {
    margin: auto;
    padding: 1rem;
    width: 900px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  html {
    font-family: system-ui, sans-serif;
    background: #1548ca;
    background-size: 224px;
  }
</style>
